@model MVCEventBench.Classes.NailVent
          
<div id="divMain" style="position:relative">
    <div id="divEventLink" style="font-size:large; font-family:@Model.TitleFontFamily;">
       @Html.ActionLink(Model.Name, "EventClicked", new { gEventGUID = Model.EventGUID }, new { @style = "color:black;" })
    </div>
    <div class="BackgroundImage" id="divBorder" style="height:150px; width:325px; border-width:medium; border-style:solid;" >
            <div id="divAddress" style="position:absolute; top:10;">
                <label id="lblAddress" style="font-family:@Model.AddressFontFamily; font-size:@Model.AddressFontSize;">@Model.Address</label>
            </div>
            <img  id="imgBackground" lang="@Model.EventGUID" style="width:100%;height:100%" src="/Content/Winter.jpg" alt="" />
            <div id="divDateTime" style="position:absolute; bottom:0; right:200">
                <label id="lblDate" style="font-size:@Model.DateFontSize.ToString();font-family:@Model.DateFontFamily">@Model.Date.ToString("d")</label>
                <label id="lblTime" style="font-size:@Model.TimeFontSize.ToString();font-family:@Model.TimeFontFamily">@Model.Time</label>
            </div>
    </div>
</div>



